#header
  - if current_user
    Sign in as: #{current_user.name}
    = link_to 'Sign Out', signout_path
    %br
    = link_to 'New Post', new_post_path
  - else
    = link_to 'Sign in with Twitter', '/auth/twitter'
    %br
    = link_to 'Sign in with Facebook', '/auth/facebook'
