!!!
%html
  %head
    %title AsciiArt
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      = render 'shared/header'
    #ascii_art_container
      = yield
    #footer
      = render 'shared/footer'
